#footer {
    color: white;
    background-color: white;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
    font-family: 'Gotu', sans-serif;
}

.fab {
    font-size: 150%;
    color: inherit;
}


.top {
    border-bottom: 1px solid #6c757d;
}

#copy {
    font-size: 70%;
}
