#logo1_header {
    height: 7rem;
    padding-right: 2rem;
    padding-left: 1rem;
}
.navbar-collapse {
    align-self: flex-end;
   }

#navList {
    font-size: 30px;
}

#contactUs {
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 7px #888888;
}
.navbar {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
}