
.navbar-collapse {
    align-self: flex-end;
   }

.navbar {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
    padding: .5rem 1rem 0rem .5rem;
    font-family: 'Gotu', sans-serif;
}

#slogan {
    font-size: 20px;
}

#contactButton {
    background-color: rgb(95, 16, 14);
    border-color: rgb(95, 16, 14);
    border-radius: 0;
    font-size: 30px;
 }